html, body
{
height: 100%;
margin: 0;
padding: 0;
background-color:#FdFdFd;
-webkit-font-smoothing: antialiased;
/* prevent subpixel antialiasing, which thickens the text */
/* text-rendering: optimizeLegibility; */
/* turned off ligatures due to bug 5945455 */
}

ol, ul {
  padding-left: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

pre {
  padding: 0px;
  border: 0px solid #ccc;
}

.navbar-default .navbar-brand
{
color:#D1551F;
}

.nav li {
  margin-bottom: 0.0rem; }

body {
  min-height: 120px;
  padding-top: 70px;

  color: #222;
  font: 14px/19px Raleway, sans-serif;
  font-weight: 400;
}
container
{
padding-top: 70px;
}
img
{
max-width:98%;
}

a
{
  color: #D1551F;
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.panel-button span
{
display: inline-block;
width:180px;
height:180px;
background:#f8f8f8;
text-align: center;
vertical-align:middle;
border: solid 1px #9ACD32;
padding:15px;
margin:10px;
font-size: 24px;
line-height: 150%;
border-radius: 8px;
}

a.panel-button:hover span {
    color:#ffffff;
    background-color: #4682B4;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: inherit;
  background-color: #eee;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

p {
	margin-top: 0;
	}
ins {
	color: green;
	background: #dfd;
	text-decoration: none;
	}
del {
	color: red;
	background: #fdd;
	text-decoration: none;
	}
code {
	font-size: smaller;
	}
#params {
	margin: 1em 0;
	font: 14px sans-serif;
	}
.code {
	margin-left: 2em;
	font: 12px monospace;
	}
.ins {
	background:#dfd;
	}
.del {
	background:#fdd;
	}
.rep {
	color: #008;
	background: #eef;
	}
.panecontainer {
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
	}
.panecontainer > p {
	margin: 0;
	border: 1px solid #bcd;
	border-bottom: none;
	padding: 1px 3px;
	background: #def;
	font: 14px sans-serif
	}
.panecontainer > p + div {
	margin: 0;
	padding: 2px 0 2px 2px;
	border: 1px solid #bcd;
	border-top: none;
	}
.pane {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	min-height: 20em;
	overflow:auto;
	font: 12px monospace;
	}
#htmldiff.onlyDeletions ins {display:none}
#htmldiff.onlyInsertions del {display:none}

.diff td{
    padding:0 0.167em;
    vertical-align:top;
    white-space:pre;
    white-space:pre-wrap;
    font-family:Consolas,'Courier New',Courier,monospace;
    font-size:0.75em;
    line-height:1.033;
  }

  .diff span{
    display:block;
    min-height:1.333em;
    margin-top:-1px;
    padding:0 3px;
  }

  * html .diff span{
    height:1.333em;
  }

  .diff span:first-child{
    margin-top:0;
  }

  .diffDeleted span{
    border:1px solid rgb(255,192,192);
    background:rgb(255,224,224);
  }

  .diffInserted span{
    border:1px solid rgb(192,255,192);
    background:rgb(224,255,224);
  }

  #toStringOutput{
    margin:0 2em 2em;
  }

  .RM tbody > tr:last-child > td {
    border-bottom: 0;}

  .table-borderless > tbody > tr > td,
  .table-borderless > tbody > tr > th,
  .table-borderless > tfoot > tr > td,
  .table-borderless > tfoot > tr > th,
  .table-borderless > thead > tr > td,
  .table-borderless > thead > tr > th {
      border: none;
    }
}
